# 6.----------- Tuples ----------

In [1]:
t = (1,2,3)

In [2]:
t

(1, 2, 3)

In [7]:
t2 = ('jon', 'arya', 'sansa','jofery')

In [8]:
t2

('jon', 'arya', 'sansa', 'jofery')

In [5]:
t2[1]

'arya'

In [10]:
t2[-1]

'jofery'

In [9]:
t2[:-1]

('jon', 'arya', 'sansa')

In [12]:
t2[0:]

('jon', 'arya', 'sansa', 'jofery')

In [15]:
# Tuples are immutible- once assigned, can't be changed

t2[0] = 'tyrion'

TypeError: 'tuple' object does not support item assignment

In [21]:
t2.count('jon')

1

In [23]:
t2.index('sansa')

2